<div class="wrapper">
        
        <app-navbar></app-navbar>
        <!-- Page Content  -->
<!--        <h1>Heading1</h1>
        {{getCode()}}
        {{value}}
        <button (click)="toggle()">Toggle</button>
        <button class="btn btn-primary" [disabled]="isDisabled" >Click Me...</button>
        -->
        <div id="content">
                
               <!-- {{title | lowercase }}
                {{date | date |uppercase}}
                {{currency | currency:'INR'}}
        -->
                <app-content [cn]="companyName" (displayUser)="getVal($event)"></app-content>
                
              <app-footer></app-footer>  
        </div>
       
</div>


